BI_ENCODER_NAME=sentence-transformers/paraphrase-MiniLM-L3-v2
BI_ENCODER_TEMPERATURE=0.1
CROSS_ENCODER=cross-encoder/ms-marco-MiniLM-L-2-v2

FAISS_PATH=faiss_index

MODEL_PATH=

RETRIEVAL_TOP_K=50
FINAL_TOP_K=5
MIN_SCORE=0.0

KAFKA_BOOTSTRAP=localhost:9092

MATCHING_INPUT_TOPIC=resume_in
MATCHING_OUTPUT_TOPIC=resume_out
EXPLORATION_INPUT_TOPIC=resume_explore_in
EXPLORATION_OUTPUT_TOPIC=resume_explore_out

LLM_MODE=api
LLM_API_KEY=
GROQ_API_KEY=token
LLM_BASE_URL=
LLM_MODEL=

GENERATE_LETTERS=True | False
