--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.0
datasets==4.6.0
faiss-cpu==1.13.2
kafka_python==2.3.0
numpy==1.26.4
openai==2.26.0
pandas==2.2.3
peft==0.18.1
python-dotenv==1.2.2
safetensors==0.7.0
sentence_transformers==5.2.2
transformers==5.2.0
rank_bm25==0.2.2
fastapi==0.135.2
uvicorn==0.42.0

